<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-light">
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<!-- 로그인 컨테이너 -->
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-sm" style="width: 400px; margin-top: -400px;">
        <div class="card-body">
            <h2 class="text-center mb-4">로그인</h2>

            <form th:action="@{/login}" th:object="${loginForm}" method="post">

                <!-- Username Field -->
                <div class="mb-3">
                    <label for="floatingInput" class="form-label">Username</label>
                    <input type="text" id="floatingInput" placeholder="Enter your username"
                           name="username" th:field="*{username}" required=""
                           class="form-control">
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                    <label for="floatingPassword" class="form-label">Password</label>
                    <input type="password" id="floatingPassword" placeholder="Enter your password" autocomplete="off"
                           name="password" th:field="*{password}" required=""
                           class="form-control">
                </div>

                <!-- Error Message -->
                <div th:if="${errorMessage}" class="text-danger mb-3">
                    <p th:text="${errorMessage}"></p>
                </div>

                <!-- Login Button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <!--간편 로그인-->
                <div class="social-login-container mt-3 d-grid gap-2">
                    <!--구글 로그인-->
                    <a href="/oauth2/authorization/google" role="button" class="btn btn-light border d-flex align-items-center justify-content-center">
                        <img src="/img/google-logo.png" alt="google-login" class="login-img"
                             style="width: 24px; height: 24px; object-fit: contain; margin-right: 8px;"/>
                        구글로 로그인
                    </a>

                    <!--네이버 로그인-->
                    <a href="/oauth2/authorization/naver" role="button" class="btn d-flex align-items-center justify-content-center" style="background: #1EC800; color: white;">
                        <img src="/img/naver-logo.png" alt="naver-login" class="login-img"
                             style="width: 24px; height: 24px; object-fit: contain; margin-right: 8px;"/>
                        네이버로 로그인
                    </a>

                    <!--카카오 로그인-->
                    <a href="/oauth2/authorization/kakao" role="button" class="btn d-flex align-items-center justify-content-center" style="background: #FEE500; color: black;">
                        <img src="/img/kakao-logo.png" alt="kakao-login" class="login-img"
                             style="width: 24px; height: 24px; object-fit: contain; margin-right: 8px;"/>
                        카카오로 로그인
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>

<!--footer-->
<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>