<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password Page</title>
</head>
<body>

<h2>비밀번호 수정 페이지</h2>

<form th:action="@{/members/info/updatePassword}" th:object="${updatePasswordForm}" method="post">

  <!--'id', 'username' Update 를 위함. 히든 처리-->
  <input th:field="*{id}" type="hidden">
  <input th:field="*{username}" type="hidden">

  <!--'password' - 현재 비밀번호-->
  <div>
    <input id="passwordUpdate-password" th:field="*{password}" type="password" required="">
    <label for="passwordUpdate-password">Current Password</label>

    <!-- Error message -->
    <div th:if="${passwordError}">
      <p th:text="${passwordError}">Error message here</p>
    </div>
  </div>

  <!--'newPassword' - 새로운 비밀번호-->
  <div>
    <input id="passwordUpdate-newPassword" th:field="*{newPassword}" type="password" required="">
    <label for="passwordUpdate-newPassword">New Password</label>

    <!-- Error message -->
    <div th:if="${newPasswordError}">
      <p th:text="${newPasswordError}">Error message here</p>
    </div>
  </div>

  <!--'newPassword' - 새로운 비밀번호-->
  <div>
    <input id="passwordUpdate-newPassword2" th:field="*{newPassword2}" type="password" required="">
    <label for="passwordUpdate-newPassword2">New Password Check</label>

    <!-- Error message -->
    <div th:if="${newPassword2Error}">
      <p th:text="${newPassword2Error}">Error message here</p>
    </div>
  </div>

  <button type="submit">Submit</button>

  <!-- Error message -->
  <div th:if="${errorMessage}">
    <p th:text="${errorMessage}">Error message here</p>
  </div>

</form>

</body>
</html>