<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Update Page</title>
</head>
<body>


<h2> 게시글 수정 페이지 </h2>

<form th:action="@{'/posts/' + ${postId} + '/update'}" th:object="${updatePostForm}" method="post">

    <input type="hidden" th:field="*{id}">

    <div>
        <input id="update-title" th:field="*{title}" type="text" placeholder="title" required="">
        <label for="update-title">Title</label>

        <!-- Error message -->
        <div th:if="${titleError}">
            <p th:text="${titleError}">Error message here</p>
        </div>
    </div>

    <div>
        <textarea id="update-content" th:field="*{content}" rows="5" placeholder="content" required=""></textarea>
        <label for="update-content">Content</label>

        <!-- Error message -->
        <div th:if="${contentError}">
            <p th:text="${contentError}">Error message here</p>
        </div>
    </div>

    <button type="submit">Submit</button>

    <!-- Error message -->
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}">Error message here</p>
    </div>

</form>


</body>
</html>