<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<!--header-->
<header class="header" th:replace="~{fragments/header :: header}"></header>

<h2>메인 화면</h2>

<h2>게시글 목록</h2>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Writer</th>
        <th>
            <a th:href="@{/(keyword=${keyword}, sort='createdAt', page=${currentPage - 1})}">Created At</a>
        </th>
        <th>
            <a th:href="@{/(keyword=${keyword}, sort='views', page=${currentPage - 1})}">Views</a>
        </th>
        <th>
            <a th:href="@{/(keyword=${keyword}, sort='likes', page=${currentPage - 1})}">Likes</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}">post - id</td>
        <td>
            <a th:text="${post.title}" th:href="@{|/posts/${post.id}|}">post - title</a>
        </td>
        <td th:text="${post.nickname}">post - member - nickname</td>
        <td th:text="${post.createdAt}">post - createdAt</td>
        <td th:text="${post.views}">post - views</td>
        <td th:text="${post.likes}">post - likes</td>
    </tr>
    </tbody>
</table>


<ul class="pagination">

    <li class="page-item" th:classappend="${!hasPrevious} ? 'disabled' : ''">
        <a th:href="@{/(keyword=${keyword}, sort=${sort}, page=${previous})}"
           role="button" class="page-link">이전</a>
    </li>

    <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
        th:classappend="${pageNum == currentPage} ? active : ''">
        <a th:href="@{/(keyword=${keyword}, sort=${sort}, page=${pageNum - 1})}" th:text="${pageNum}"
           role="button" class="page-link">페이지 번호</a>
    </li>

    <li class="page-item" th:classappend="${!hasNext} ? 'disabled' : ''">
        <a th:href="@{/(keyword=${keyword}, sort=${sort}, page=${next})}"
           role="button" class="page-link">다음</a>
    </li>

</ul>

</body>
</html>